html, body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img 
{
  width: 100%;
  display: block;
}

.lt_container {
  width: 100%;
  height: 100%;
  background-color: pink;
  overflow: hidden;
  padding: 45px 0 55px 0;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

.lt_header {
  width: 100%;
  height: 45px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #006699;
  padding: 0 45px 0 45px;
}

.lt_footer {
  width: 100%;
  height: 55px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #006699;
}

.lt_main {
  width: 100%;
  height: 100%;
  background-color: skyblue;
}

.lt_header .icon_left, .lt_header .icon_right {
  position: absolute;
  top: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  text-align: center;
}

.lt_header .icon_left {
  left: 0;
}

.lt_header .icon_right {
  right: 0;
}

.lt_header h3 {
  font-size: 20px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  margin: 0;
}

.lt_footer li {
  float: left;
  width: 25%;
  text-align: center;

}

.lt_footer li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding-top: 8px;
}

.lt_footer li a p {
  margin: 0;
  padding: 0;
  color: #fff;
}
.lt_footer li a.current
{
  color: orange;
}
.lt_footer li a.current p 
{
  color: orange;
}
.lt_main 
{
  position: relative;
}
.lt_nav
{
  padding: 10px;
}
.lt_nav  li 
{
 float: left;
 width: 33.33%;
}
