/* 商品详情 */
.lt_product
{
  padding: 10px;
}
.lt_product li 
{
  width: 48%;
  float: left;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}
.lt_product li:nth-child(2n-1)
{
  margin-right: 4%;
}
.lt_product li  a 
{
  padding: 10px;
  display:block;
}
.lt_product li  img 
{
  width: 130px; 
  height: 130px;
  margin: 0 auto;
}
.lt_product li p 
{
  text-align: center;
}
.lt_product li .price
{
  color: red;
}
.lt_product li .oldPrice
{
  text-decoration: line-through;
}